footer.footer {
  padding: 20px 50px;
  color: #333;
  border-top: 1px solid #333;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;           
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  
}

footer .footer-info,
footer .footer-links,
footer .footer-contact {
  flex: 1;
  min-width: 200px;
}

footer .footer-links nav a {
  display: block;
  margin: 8px 0;
  text-decoration: none;
  color: #7a5c45;
}

footer .footer-links nav a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.footer-logo {
  flex-shrink: 0;   
  margin-left: auto; 
}

.footer-logo img {
  height: 70px;
}

footer .footer-info {
  flex: 1; 
  min-width: 200px;
}
footer .footer-info p a {
  color: black;
}