section {
  padding: 80px 16px;
  max-width: 1100px;
  margin: auto;
}

#hero {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  background-image: url("../assets/images/oujda pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  }

#hero > * {
  position: relative;
  z-index: 2; 
  color: white;
}